.idea/*
jobs/*.out
milsed/__pycache__/*
milsed.egg-info/*
models/__pycache__/*
models/resources/model*
models/resources/ensemble*
notebooks/.ipynb_checkpoints/*
notebooks/v0/.ipynb_checkpoints/*
notebooks/v1/.ipynb_checkpoints/*
models/resources/1260d99*
models/resources/1472829*
models/resources/190cd92*
models/resources/2633794*
models/resources/32e1f20*
models/resources/3b359c8*
models/resources/4f1bfbc*
models/resources/99a97c5*
models/resources/a002a71*
models/resources/bb949b2*
models/resources/bf9940f*
models/resources/ef83170*
models/resources/f1c0496*
